.background{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: white;
    background-size: contain;
    filter: blur(20px);
  }
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 52px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 93.95%;
    justify-content: flex-end;
    background: #56638f;
}
  li.navitem {
    float: left;
  }
  li.navitem1 a{
    position: absolute;
    left: 0;
    top: 0px;
    translate: Y(-50%);
  }

  li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navitem a:hover:not(.active) {
    background-color: #7580A4;
  }
  .row{
    text-align: center;
    
  }
  .my-4{
    color: white;
}
.container{
    padding-top: 100px;
}
.card-title{
  color: #7796CB;
}

