.background{
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: url(./assets/back.jpg);
  background-size: contain;
  filter: blur(20px);
}
.container{
  padding-top: 80px;
}
 ul.navbar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 52px;
     position: absolute;
     left: 0%;
     right: 0%;
     top: 0%;
     bottom: 93.95%;
     justify-content: flex-end;
     background: #56638f;
 }
 
  li.navitem {
     float: left;
  }
 
  li.navitem a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
  }
  li.navitem1 a{
    position: absolute;
    left: 0;
    top: 0px;
    translate: Y(-50%);
  }
  li.navitem a:hover:not(.active) {
    background-color: #7580A4;
  }

  .boton{
     padding-top: 50px;
  }

  .app-form:nth-child(3) {
    margin-bottom: 20px;
  }
  .form-group {
    position: relative;
    margin-bottom: 1rem;
    border-color: #425080;
  }
  .last{
     margin-top: 20px;
  }

 
 