.background{
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background:white;
  background-size: contain;
}
 ul.navbar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 52px;
     position: absolute;
     left: 0%;
     right: 0%;
     top: 0%;
     bottom: 93.95%;
     justify-content: flex-end;
     background: #56638f;
 }
 
   li.navitem {
     float: left  ;
   }
 
   li.navitem a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   li.navitem1 a{
    position: absolute;
    left: 0;
    top: 0px;
    translate: Y(-50%);
  }
   li.navitem a:hover:not(.active) {
    background-color: #7580A4;
  }
   .container{
     padding-top: 100px;
     justify-content: center;
     align-items: center;
     justify-content: center;
   }
   .col-md-5{
     vertical-align: center;
     display: flex;
     align-items: center;
   }
   .row2{
     margin: 40px;
     
   }